extends ../components/page/default.pug

include ../components/mixins/mixins.pug


block in
    .container
        .row
            .col-md-9
                p: a(href="/open-plan.html") open-plan.html
                p: a(href="/registration-test-start.html") registration-test-start.html
                p: a(href="/registration-1.html") registration-1.html
                p: a(href="/registration-2.html") registration-2.html
                p: a(href="/registration-3.html") registration-3.html
                p: a(href="/registration-4.html") registration-4.html
                p: a(href="/registration-5.html") registration-5.html
                p: a(href="/registration-6.html") registration-6.html

            .col-md-3 right2