extends ../components/page/registration.pug

include ../components/mixins/mixins.pug
block registration
  .o-slide
    .o-slide__title.o-slide__title--big Хочешь сбросить лишный вес?
    .o-slide__title Пройди простой тест из 7 вопросов
    .o-slide__title.o-slide__title--text и узнай основные параметры своего тела, а также получи подарок!

    .o-slide__body-button
      a.a-btn.a-btn--glow.a-btn--lg(href="#") Пройти тест и получить подарок