mixin a-brands-dark
    .a-brands(class!=attributes.class)
      a.a-brands__item.a-brands__item--dark(href="#"): i.fab.fa-vk
      a.a-brands__item.a-brands__item--dark(href="#"): i.fab.fa-facebook
      a.a-brands__item.a-brands__item--dark(href="#"): i.fab.fa-instagram