mixin a-brands-rounded
  .a-brands.a-brands--rounded(class!=attributes.class)
    a.a-brands__item.a-brands__item--vk(href="#"): i.fab.fa-vk
    a.a-brands__item.a-brands__item--facebook(href="#"): i.fab.fa-facebook-f
    a.a-brands__item.a-brands__item--ok(href="#"): i.fab.fa-odnoklassniki
    a.a-brands__item.a-brands__item--google-plus(href="#"): i.fab.fa-google-plus-g