mixin a-rating()
  .a-rating.js-rating(class!=attributes.class)
    .a-rating__item.a-rating__item--filled
      i.fas.fa-star
      i.far.fa-star
    .a-rating__item.a-rating__item--filled
      i.fas.fa-star
      i.far.fa-star
    .a-rating__item.a-rating__item--filled
      i.fas.fa-star
      i.far.fa-star
    .a-rating__item
      i.fas.fa-star
      i.far.fa-star
    .a-rating__item
      i.fas.fa-star
      i.far.fa-star