include ../atoms/a-brands/a-brands.pug
include ../atoms/a-brands/a-brands-dark.pug
include ../atoms/a-brands/a-brands-rounded.pug
include ../atoms/a-person/a-person.pug
include ../atoms/a-price/a-price.pug
include ../atoms/a-rating/a-rating.pug


include ../organisms/o-header/o-header.pug
include ../organisms/o-footer/o-footer.pug
include ../organisms/o-card/o-card.pug